

a.active {
  font-weight: bold;
}

a.tablink {
  font-size: 30px;
  text-decoration: none;
}

div.tab-pane {
  display:none;
  opacity:1;
}

div.tab-pane.active {
  display:block;
  opacity: 1;
  transition: opacity .5s;
}

div.tab-pane.transitioning {
  display:block;
  opacity: 0;
  transition: opacity .5s;
}

a.slide-left {
  float:right;
}
a.slide-right {
  float:left;
}
